.DS_Store

# Terraform working files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
teraform.tfvars
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local helper script
rm_zip.sh
